.nav-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px; /* fix height */
    padding: 0 2rem; /* only horizontal padding */
    box-sizing: border-box;
    gap: 1.5rem;
    background-color: transparent;
}


.nav-entry {
    padding: 0.3rem 1rem; /* less vertical padding */
    font-size: 1rem;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}


.nav-entry:hover {
    padding: 0.3rem 2rem; /* same vertical padding as normal */
    text-shadow: 0 0 15px white;
    color: white;
}

