.nav-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end; /*horizontal allignment*/
    align-items: center; /*vertical allignment*/
    padding: .5rem 2rem; 
    box-sizing: border-box; /*to prevent padding from going overboard*/
    gap: 1.5rem; 
    background-color: transparent;   
}

.nav-entry {
    list-style-type: none;
    padding: .5rem 1rem;      
    font-size: 1rem;  
    text-decoration: none;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    color:white;
}


.nav-entry:hover {
    text-shadow: 0 0 15px white;
    padding: .5rem 2rem;
    color:white;
}

