@font-face {
  font-family: Roboto; /* set name */
  src: url(../public/fonts/Roboto-Regular.ttf); /* url of the font */
}

.app {
  min-height: 100%;
  color: white;
  font-family: Roboto;
  display: flex;               /* enable flexbox */
  flex-direction: column;      /* stack children vertically */
  justify-content: center;     /* center vertically */
  align-items: center;         /* center horizontally */
  text-align: center;          /* center inline text inside children */
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
